footer {
  background-image: url(../assets/start-screen-gradient-background.jpg);
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

footer h3 {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font: 35px/45.5px Georgia;
  letter-spacing: 0.06em;
}

.contacts,
.adress {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email,
.phone,
.street_1,
.street_2 {
  font: 20px/23px Georgia;
  letter-spacing: 0.06em;
  color: rgba(241, 205, 179, 1);
  display: flex;
}

.email p,
.phone p,
.street_1 p,
.street_2 p {
  margin: 0;
  margin-left: 20px;
}
