main {
  background: rgba(246, 246, 246, 1);
  margin-top: 120px;
}

.pets-content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .pets-content.container {
    width: calc(100% - 20px);
    padding-inline: 10px;
  }
}

.pets-content h3 {
  margin: 0;
  padding-bottom: 45px;
  font: 35px/45.5px Georgia;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgba(84, 84, 84, 1);
  width: 100%;
  margin-inline: auto;

  @media (max-width: 320px) {
    font: 25px/32.5px Georgia;
    padding-bottom: 42px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.card_1,
.card_2,
.card_3,
.card_4,
.card_5,
.card_6,
.card_7,
.card_8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(250, 250, 250, 1);
  padding-bottom: 35px;
  gap: 30px 0;
}

.card_1 p,
.card_2 p,
.card_3 p,
.card_4 p,
.card_5 p,
.card_6 p,
.card_7 p,
.card_8 p {
  margin: 0;
}

.card-text {
  font: 20px/22.72px Georgia;
  letter-spacing: 0.06em;
  color: rgba(84, 84, 84, 1);
}

.card-button {
  font: 17px/22.1px Georgia;
  letter-spacing: 0.06em;
  color: rgba(41, 41, 41, 1);
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid rgba(241, 205, 179, 1);
  background: none;
}

.card-button:hover {
  background: rgba(241, 205, 179, 1);
  transition: 0.3s all;
}

.navigation {
  display: flex;
  margin-inline: auto;
  gap: 20px;
  padding-bottom: 100px;
  padding-top: 45px;

  @media (max-width: 320px) {
    gap: 10px;
  }
}

.navigation button {
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius: 100px;
}

.paginator_inactive {
  border: 2px solid rgba(205, 205, 205, 1);
  color: rgba(205, 205, 205, 1);
}

.paginator_active {
  background: rgba(241, 205, 179, 1);
  border: 2px solid rgba(241, 205, 179, 1);
  color: black;
  transition: all 0.3s;
}

.paginator_active:hover {
  background: rgba(255, 255, 255, 1);
}

.paginator {
  border: 2px solid rgba(241, 205, 179, 1);
  color: black;
  transition: all 0.3s;
}

.paginator:hover {
  background: 0;
}
